.logo {
    color: var(--logo-first-color);

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;

}

.logo__second {
    color: var(--title-text-color);
}
.footer__logo {
    color: var(--color-button);

}